<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- for royal text  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Pacifico&display=swap" rel="stylesheet">
            <!-- neat font for the whole website  -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!-- cursive type font  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <link href="styles.css" rel="stylesheet" />    
</head>
<body>
    
       <!-- creating new post  -->
       <%if(locals.newPost){%>
        <div class="crimson-text-regular  editPage">
            <form method="post" action="/updatePost" >
                <label for="bookName">name:</label>
                <input id="bookName" name="name" value=""/>
        <br />
                <label for="isbn">ISBN:</label>
                <input id="isbn" name="isbn" value=""/>
            <br />
            <label for="trailer">Trailer:</label>
            <textarea class="trailer" id="trailer" name="trailer"></textarea>
            <br />
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes" class="notes"></textarea>
            
            <br />
                <label for="author">Author:</label>
                <input id="author" name="author" value="" />
            <br />
                <label for="rating">Rating:</label>
                <input id="rating" name="rating" value="" />
        <br />
        <!-- uploading a file start -->
        <!-- <label for="pdfInput" style="padding:10px; background:#4CAF50; color:white; cursor:pointer;">
        Upload PDF
        </label> -->
        <!-- <input type="file" id="pdfInput" accept="application/pdf" hidden> -->
        <!-- uploading a file end  -->
                <input type="hidden" name="id"value=""/>
                <input type="submit" />
        <input type="hidden" name="typeOfUpdate" value="insert" />
            </form>
            </div>           
         <%}else{%>
    <div class="crimson-text-regular  editPage">
    <form method="post" action="/updatePost" >
        <label for="bookName">name:</label>
        <input id="bookName" name="name" value="<%=book.name%>"/>
<br />
        <label for="isbn">ISBN:</label>
        <input id="isbn" name="isbn" value="<%=book.isbn%>"/>
    <br />
    <label for="trailer">Trailer:</label>
    <textarea class="trailer" id="trailer" name="trailer"><%=book.trailer%></textarea>
    <br />
    <label for="notes">Notes:</label>
    <textarea id="notes" name="notes" class="notes"><%=book.notes%></textarea>
    <br />
        <label for="author">Author:</label>
        <input id="author" name="author" value="<%=book.author%>" />
    <br />
        <label for="rating">Rating:</label>
        <input id="rating" name="rating" value="<%=book.rating%>" />
<br />
        <input type="hidden" name="id"value="<%=book.id %>"/>
        <input type="submit" />
        <input type="hidden" name="typeOfUpdate" value="update" />
    </form>
    </div>
<%}%>
</body>
</html>